.start-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 8rem;
  align-items: center;
  margin: 2rem auto;
  gap: 3rem;
}

.start-page-text {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.start-page-text h2 {
  font-size: 2rem;
  line-height: 44px;
}

.start-page-text a {
  text-decoration: none;
  color: var(--grey-50);
  font-weight: 700;
  background-color: var(--amber-100);
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  letter-spacing: 1px;
  transition: transform 0.1s ease-in-out;
}

.start-page-text a:hover {
  transform: translate(2px, 2px);
}
