.quiz-timer-img {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.quiz-timer-img img {
  width: 45px;
  height: 45px;
}

.quiz-timer-img p {
  position: absolute;
  font-weight: 500;
}