.page-not-found-container {
    min-height: calc(100vh - (11vh + 8vh));
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .page-not-found-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }
  
  .page-not-found-text h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 42px;
  }
  
  .return-home-link {
    width: 100%;
    background-color: #161616;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.8rem 1rem;
    text-decoration: none;
    color: var(--grey-50);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s ease-in-out;
  }
  
  .return-home-link:hover {
    transform: translate(2px, 2px);
  }