.quiz-answers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  list-style: none;
  padding: 0 0.5rem;
}

.quiz-answer-button {
  border: none;
  background-color: var(--grey-300);
  width: 130px;
  height: 70px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: transform 0.2s ease;
}

.quiz-answer-button:hover {
  transform: scale(1.2, 1.2);
}

.selected {
  background-color: var(--amber-100);
}
