*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  /* colors */
  --amber-50: #ffce2e;
  --amber-100: #fcc822;
  --amber-200: #dfb21e;
  --amber-300: #c9a11d;
  --amber-400: #b49018;
  --amber-500: #a78515;
  --amber-600: #917312;

  --scarlet-100: #ff1818;
  --scarlet-200: #e61515;
  --scarlet-300: #d41414;
  --scarlet-400: #bb1212;
  --scarlet-500: #a51111;
  --scarlet-600: #8b0e0e;

  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;

  --lime-100: #38ff1d;
  --lime-200: #32e61a;
  --lime-300: #2dd117;
  --lime-400: #27b814;
  --lime-500: #24a713;
  --lime-600: #1d7a11;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 4px 7.46px 0 rgb(0, 0, 0, 10%);
  --shadow-4: 0 4px 10px 4px rgb(0, 0, 0, 50%);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: Inter;
  color: #161616;
  padding: 0;
  margin: 0;
}
