.result-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.result-summary {
  box-shadow: var(--shadow-4);
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.result-summary img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.result-summary h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.summary-score {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 3rem 3rem 2rem;
}

.result-summary hr {
  border: 1px solid var(--grey-400);
  width: 80%;
  margin-bottom: 2rem;
}

.summary-score div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skipped-answer-share h2 {
  color: var(--grey-400);
  font-size: 2.3rem;
}

.skipped-answer-share h4 {
  color: var(--grey-400);
  font-size: 1.2rem;
}

.correct-answer-share h2 {
  color: var(--lime-500);
  font-size: 2.3rem;
}

.correct-answer-share h4 {
  color: var(--lime-500);
  font-size: 1.2rem;
}

.wrong-answer-share h2 {
  color: var(--scarlet-200);
  font-size: 2.3rem;
}

.wrong-answer-share h4 {
  color: var(--scarlet-200);
  font-size: 1.2rem;
}

.wrong-answers {
  list-style-type: none;
  padding: 0;
}

.wrong-answers li {
  display: flex;
  flex-direction: column;
}

.question-number {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding-left: 2rem;
}

.question-number h2 {
  font-weight: 650;
  font-size: 1.2rem;
}

.question-content {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
}

.question-content h3 {
  margin-bottom: 0.8rem;
  font-weight: 650;
}

.wrong-user-answer {
  margin-bottom: 0.5rem;
}

.question-content p {
  font-weight: 500;
}

.skipped {
  color: var(--grey-400);
}

.wrong {
  color: var(--scarlet-200);
}

.correct-answer span {
  color: var(--lime-500);
}

.congrats-message {
  text-align: center;
}

.congrats-message h1 {
  font-size: 2rem;
  word-spacing: 5px;
  color: var(--amber-100);
  line-height: 50px;
}
