.quiz-grad-header {
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: var(--shadow-3);
}

.quiz-grad-logo {
  padding: 1.2rem 3.2rem 0.75rem;
}

.quiz-grad-logo img {
  width: 160px;
}
